[submodule "s-hydro"]
	path = lib/s-hydro
	url = ../s-hydro.git
[submodule "v-hydro"]
	path = lib/v-hydro
	url = git@github.com:telepath/v-hydro.git
[submodule "threaded-library"]
	path = lib/threaded-library
	url = ../threaded-library
[submodule "lib/Write.scad"]
	path = lib/Write.scad
	url = git@github.com:telepath/Write.scad.git
